@import "/src/variables";

.score {
  color: $pastell-purple;
  background-color: $white;
  border-radius: 10rem;
  width: fit-content;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0.3rem 0.4rem 0 0.2em $pastell-blue-dark;
  font-weight: 600;

  span {
  }

  img {
    animation: pulse 10s linear infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(5deg);
  }

  50% {
    transform: scale(1.2) rotate(0deg);
  }
  75% {
    transform: scale(1.1) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
