@use "../../variables" as vars;

.item {
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: fixed;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
