@use "/lib/variables" as vars;

.timer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 3rem;

  .progress-bar {
    width: 100%;
    height: 1rem;
    background-color: vars.$white;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    box-shadow: 0.3rem 0.4rem 0 vars.$pastell-blue-dark;

    .progress-fill {
      transition:
        width 1s linear,
        background-color 1s linear;
      height: 100%;
      border-radius: 2rem;

      &.green {
        background-color: vars.$pastell-green;
      }

      &.yellow {
        background-color: vars.$pastell-yellow;
      }

      &.red {
        background-color: vars.$pastell-red;
      }
    }
  }

  .display {
    color: vars.$pastell-purple;
    background-color: vars.$white;
    border-radius: 10rem;
    width: 10rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0.3rem 0.4rem 0 0.2em vars.$pastell-blue-dark;
    font-weight: 600;
  }
}
