.mainContainer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .draggable {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: grab;
    }
}


.rightContainer,
.leftContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftContainer {
    margin-right: auto;
}

.rightContainer {
    margin-left: auto;
}