@use "/src/variables" as vars;

@font-face {
  font-family: Fredoka;
  src: url("./assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}

html {
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  font-family: Fredoka, sans-serif;
  font-weight: 500;
  background-color: black;

  body {
    width: 1920px;
    height: 1080px;
    background-color: vars.$background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}