$pastell-yellow: #fff4b2;
$pastell-green: #a2e5c0;
$pastell-red: #ff8faf;
$pastell-purple-light: #d4b5ff;
$pastell-purple: #6149e5;
$pastell-blue: #4678ff;
$pastell-blue-dark: #3430b5;
$white: #ffffff;
