@import "/src/variables";

@font-face {
  font-family: Fredoka;
  src: url("./assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}

html {
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  background-color: $pastell-purple;
  font-family: Fredoka, sans-serif;
  font-weight: 500;
}
