@import "/src/variables";

.tile {
  background-color: $white;
  box-shadow: 0.3rem 0.4rem 0 0.2em $pastell-blue-dark;
  padding: 1rem;
  border: 2rem solid transparent;
  transition: border-color 0.1s ease-out;

  p {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: $pastell-purple;
  }

  &.blue {
    background-color: $pastell-blue;
    p {
      color: $white;
    }
  }

  &.success {
    border: 2rem solid $pastell-green;
  }
  &.failure {
    border: 2rem solid $pastell-red;
  }
  &.selected {
    border: 2rem solid $pastell-yellow;
  }
}
