@use "/src/variables" as vars;

.theme {
  background-color: transparent !important;

  :global(.hg-button) {
    padding: 1rem 0 !important;
    margin: 0.2rem;
    font-size: 1.5rem !important;

    &:disabled {
      background-color: vars.$white;
      &:hover {
        background-color: vars.$white;
      }
    }
  }
}
